header {
  display: flex;
  background-color: #2f80ed;
  padding: 20px 100px;
  margin-bottom: 20px;
  color: white;
  align-items: center;
  justify-content: space-between;
}

nav {
  display: flex;
  gap: 20px;
}
