.edit {
  position: absolute;
  background-color: white;
  width: 400px;
  height: 100vh;
  top: 0;
  right: 0;
  padding: 10px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px;
}
