.todocontainerwarp {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
  height: auto;
}

.todocontainer {
  display: flex;
  width: 500px;
  height: 50px;
  background-color: white;
  justify-content: space-evenly;
  padding: 5px;
  align-items: center;
  padding: 20px;
}

.todoisdone {
  text-decoration: line-through;
}

.title {
  margin-right: auto;
  margin-left: 15px;
}

.button {
  margin: 0 15px;
}
