.todocontainerwarp {
  display: flex;
  width: 100%;
  gap: 15px;
  height: auto;
  flex-direction: column;
  align-items: center;
}

.todocontainer {
  display: flex;
  width: 500px;
  background-color: white;
  justify-content: space-evenly;
  padding: 10px;
  align-items: center;
}

form {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.todoisdone {
  text-decoration: line-through;
}

.title {
  margin-right: auto;
  margin-left: 15px;
}

.button {
  margin: 0 15px;
}

.isDone {
  text-decoration: line-through;
}
